In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!unrar e /content/drive/'My Drive'/DataMining/dataset.rar

UNRAR 5.50 freeware      Copyright (c) 1993-2017 Alexander Roshal


Extracting from /content/drive/My Drive/DataMining/dataset.rar

Extracting  product.xlsx                                                   5% 10% 16% 17%  OK
Extracting  tarikhche kharid.csv                                          22% 27% 33% 38% 43% 48%  OK
Extracting  comment.xlsx                                                  53% 58% 64% 69%  OK
Extracting  keifiat.xlsx                                                  69% 70% 71% 72% 73% 74% 75% 76% 77% 78% 79% 80% 81% 82% 83% 84% 85% 86% 87% 88% 89% 90% 91% 92% 93% 94%  OK
Extracting  orders.csv                                                    99%  OK
All OK

In [ ]:
import pandas as pd 
import datetime
import re

!pip install langdetect
from langdetect import detect
print('done')

Requirement already satisfied: langdetect in /usr/local/lib/python3.6/dist-packages (1.0.8)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from langdetect) (1.15.0)
done

\\
# **Orders Dataset**

In [ ]:
df_orders = pd.read_csv('orders.csv')
df_orders

        ID_Order  ID_Customer  ...  city_name_fa Quantity_item
0        2714054       469662  ...    محمود آباد           1.0
1       11104039      3063877  ...        خرمدره           1.0
2        4228130      3184893  ...          قرچک           1.0
3       22225624      6888562  ...            قم           1.0
4        4068771      2533490  ...         تهران           1.0
...          ...          ...  ...           ...           ...
199995  12172771      4403268  ...         تهران           2.0
199996   4425393      3745774  ...        محمدیه           1.0
199997   6671889      4845514  ...        اصفهان           1.0
199998   6315995      2541418  ...         همدان           1.0
199999   7584127      1342585  ...    بندر انزلی           1.0

[200000 rows x 7 columns]

In [ ]:
langs = [detect(str(df_orders['city_name_fa'][i])) for i in range(len(df_orders['city_name_fa']))]
gheir_fa = [i for i in range(len(langs)) if langs[i] != 'fa']

In [ ]:
x = df_orders['city_name_fa'][gheir_fa]

2           قرچک
11          لالی
17        تنکابن
18           کرج
33          کلور
           ...
199965     کرمان
199975       کرج
199983      فومن
199990      قرچک
199996    محمدیه
Name: city_name_fa, Length: 16771, dtype: object

\\
**The code above showed that the library does not work well and it has detect the languages of the text wrong.**

# **Comment Dataset**

In [ ]:
df_comment = pd.read_excel('comment.xlsx')
df_comment

        product_id  ...                                            comment
0            90213  ...  سلام، قبل اینکه نظرم رو بگم میخواستم به یک موض...
1            56871  ...  بوی تند ولی خوشبو داره.ماندگاریش خوبه و هر چقد...
2            49738  ...  متاسفانه عمر مفید این ماشین کم هست و بعد از دو...
3           134367  ...  افا از وقتی من اینو واسه پسرم خریدم همه بچه ها...
4           151402  ...  این تیغ محصول کشور آمریکا هست ( در عکس محصول م...
...            ...  ...                                                ...
100003      104998  ...  قیمت مناسبی داره در حال حاضر . با این پول سخت ...
100004      333389  ...  در کل راضیم درسته لنوو با قیمت پایین تر هسته و...
100005      356546  ...  من این محصول رو از بیرون تهیه کردم . و باید بگ...
100006       33874  ...  دوسال و.نیم پیش از دیجی کالا گرفتم. هنوز مثل ر...
100007      318278  ...  با استفاده از این شامپو مشکل خشکی مو و پوست سر...

[100008 rows x 3 columns]

# **keifiat**

In [ ]:
df_keifiat = pd.read_excel('keifiat.xlsx')
df_keifiat

       product_id  ...                                      disadvantages
0            3692  ...                                                NaN
1           90213  ...                                          ["ندارد"]
2           59473  ...                                                NaN
3          120499  ...  ["کیفیت پایین اسپیکر\r","حاشیه خالی زیر صفحه ن...
4           67200  ...                                    ["ظرفیت متوسط"]
...           ...  ...                                                ...
99995      549845  ...                                          ["ندارد"]
99996      784160  ...                 ["محل عبور بند کفش ها ایراد دارد"]
99997      820985  ...                                          ["ندیدم"]
99998      678073  ...                                                NaN
99999      451791  ...                                                NaN

[100000 rows x 12 columns]